
.ipynb_checkpoints/NN_with_Numpy-checkpoint.ipynb
.ipynb_checkpoints/NN_with_Pytorch-checkpoint.ipynb
Data/.ipynb_checkpoints/Get_Livedoor_Corpus-checkpoint.ipynb
.ipynb_checkpoints/Arrange_Data_for_Torchtext-checkpoint.ipynb
.ipynb_checkpoints/Linear_Regression-checkpoint.ipynb
.ipynb_checkpoints/Torchtext-checkpoint.ipynb
Data/.ipynb_checkpoints/Arrange_Data_for_Torchtext-checkpoint.ipynb
.vector_cache/wiki.ja.vec
.vector_cache/wiki.ja.vec.pt
.ipynb_checkpoints/Try_Pyro-checkpoint.ipynb
.ipynb_checkpoints/Pyro_Linear_Regression-checkpoint.ipynb
